* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: cornflowerblue;
}

.search {
  position: relative;
  height: 50px;
}

.input {
  width: 50px;
  height: 50px;
  padding: 15px;
  background-color: #fff;
  border: 0;
  font-size: 18px;
  transition: width 0.3s ease;
}

.input:focus {
  outline: none;
}

.btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: 0;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn span {
  font-size: 30px;
}

.search.active .input {
  width: 200px;
}

.search.active .btn {
  transform: translateX(200px);
}
